EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_TIKCHOP_SELLER_SLUG=salia
EXPO_PUBLIC_TIKCHOP_WEB_URL=https://tikchop.vercel.app
EXPO_PUBLIC_TIKCHOP_API_URL=https://tikchop.vercel.app
